.listBox{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto !important;
}
.worksItem {
  margin-bottom: 32px;
}
.worksCover {
  position: relative;
}
.coverImg {
  width: 100%;
}
.worksType {
  position: absolute;
  right: 8px;
  top: 8px;
}
.worksTitle {
  text-align: left;
  font-size: 16px;
  color: #1d1d1d;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worksInfo {
  text-align: left;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.worksMain{
  display: flex;
  align-items: center;
}
.detail{
  flex: 1;
  overflow: hidden;
}
.operate{
  flex-shrink: 0;
}
.editBtn{
  display: inline-block;
  color: #1761ff;
  margin-right: 24px;
  cursor: pointer;
}
.deleteBtn{
  display: inline-block;
  color: #f71818;
  cursor: pointer;
}