.listBox{
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.worksItem {
  margin-bottom: 32px;
  cursor: pointer;
}
.worksCover {
  position: relative;
}
.coverImg {
  width: 100%;
}
.worksType {
  position: absolute;
  right: 8px;
  top: 8px;
}
.worksTitle {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worksInfo {
  text-align: center;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.5);
}