.footerComp {
  text-align: center;
  color: #000;
  font-size: 14px;
  padding: 96px 0 40px;
}
.contactRow img + img {
  margin-left: 32px;
}
.recordNoRow {
  color: rgba(29, 29, 29, 0.5);
  margin: 48px 0 8px;
}
.tooltipContainer :global(.ant-tooltip-inner){
  color: #1d1d1d;
  background-color: #e8e8e8;
  font-size: 14px;
}
.tooltipContainer :global(.ant-tooltip-arrow){
  border-top-color: #e8e8e8;
}
