.headerRow {
  height: 226px;
  line-height: 226px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 80px;
  z-index: 0;
}
.headerRow a {
  font-size: 16px;
  color: #1d1d1d;
  padding: 0 28px;
}
.personImgCol {
  text-align: center;
}
.personImgCol img {
  width: 70px;
  height: auto;
}
.linksCol {
  text-align: right;
}

.drawerCol {
  text-align: right;
}

.drawerCol :global(.ant-btn) {
  border: none;
  color: #1f1f1f;
  font-size: 16px;
}

.canvas {
  vertical-align: middle;
}

@media screen and (max-width: 1440px) {
  .headerRow {
    padding: 0 32px;
  }
}

@media screen and (max-width: 576px) {
  .headerRow {
    height: 100px;
    line-height: 100px;
    padding: 0 16px;
    z-index: 99999;
  }
  .logo {
    width: 72px;
  }
  .canvas {
    width: 50px;
  }
  :global(.ant-drawer-header) {
    display: none;
  }
  :global(.ant-drawer-top.ant-drawer-open .ant-drawer-content-wrapper) {
    box-shadow: none;
  }
  :global(.ant-drawer-body) {
    display: flex;
    height: 100vh;
    top: -100px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .drawerMenuItem {
    margin-bottom: 118px;
    text-align: center;
    position: relative;
  }
  .drawerMenuItem a {
    font-size: 24px;
    color: #1d1d1d;
  }
  .drawerMenuItem span {
    font-size: 12px;
    color: #bbb;
    line-height: 16px;
  }
  .drawerMenuItem:not(:last-child)::before {
    content: "/";
    position: absolute;
    bottom: -60px;
    left: 50%;
    font-size: 16px;
    color: rgba(29, 29, 29, 0.2);
  }
  .drawerMenuItem:last-child {
    margin-bottom: 0;
  }
}
