.worksList {
  max-width: 1440px;
  margin: 0 auto;
}

.classifiesList {
  margin: 0;
  padding: 0;
  text-align: center;
}
.classifiesList li {
  display: inline-block;
  font-size: 14px;
  color: #1d1d1d;
}
.classifiesList li + li {
  margin-left: 48px;
}

.worksBoxList {
  margin-top: 48px;
}

.worksItem {
  margin-bottom: 32px;
  cursor: pointer;
}
.worksItemAnim {
  position: relative;
}
.worksCover {
  position: relative;
}
.coverImg {
  width: 100%;
}
.worksType {
  position: absolute;
  right: 8px;
  top: 8px;
}
.worksTitle {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  margin-top: 12px;
}
.worksInfo {
  text-align: center;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.5);
}

.detailModal :global(.ant-modal-header) {
  border-bottom: none;
  padding: 36px 32px 8px;
}
.detailModal :global(.ant-modal-title) {
  font-size: 28px;
  color: #1d1d1d;
}
.detailModal :global(.ant-modal-body) {
  padding: 0 32px 32px;
}
.detailModal :global(.info) {
  font-size: 14px;
  color: rgba(29, 29, 29, 0.5);
  margin-bottom: 64px;
}
.detailModal :global(.preview) {
  width: 100%;
  height: auto;
}
.detailModalType {
  margin-left: 16px;
  vertical-align: bottom;
}

.combineBox {
  text-align: center;
}
.combine {
  position: relative;
  display: inline-block;
}
.combineBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}
