.worksList {
  max-width: 1600px;
  padding: 0 80px;
  margin: 0 auto;
}

:global(.ant-dropdown-trigger) {
  display: none;
}
.classifiesList {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}
.classifiesList + .classifiesList {
  margin-left: 48px;
}
:global(.ant-menu-horizontal > .ant-menu-item) {
  border: none;
  padding: 0;
}
:global(.ant-menu-horizontal > .ant-menu-item):hover {
  border: none;
}
.classifiesList ul {
  border: none;
}
.classifiesList li {
  display: inline-block;
  font-size: 14px;
  color: #1d1d1d;
}
.classifiesList li + li {
  margin-left: 48px;
}

.worksBoxList {
  margin-top: 48px;
}

.worksItem {
  margin-bottom: 32px;
  cursor: pointer;
}
.worksItemAnim {
  position: relative;
}
.worksCover {
  position: relative;
}
.coverImg {
  width: 100%;
}
.worksType {
  position: absolute;
  right: 8px;
  top: 8px;
}
.topLabel {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 32px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #aa2739;
  padding-top: 20px;
}
.topLabel span {
  z-index: 2;
  position: relative;
}
.topLabel::after {
  content: "";
  border: 16px solid #aa2739;
  border-bottom: 8px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.newLabel {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 32px;
  height: 48px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #38a6cd;
  padding-top: 20px;
}
.newLabel span {
  z-index: 2;
  position: relative;
}
.newLabel::after {
  content: "";
  border: 16px solid #38a6cd;
  border-bottom: 8px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.worksTitle {
  text-align: center;
  font-size: 16px;
  color: #1d1d1d;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.worksInfo {
  text-align: center;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.5);
}

.detailModal :global(.ant-modal-header) {
  border-bottom: none;
  padding: 36px 32px 8px;
}
.detailModal :global(.ant-modal-title) {
  font-size: 28px;
  color: #1d1d1d;
}
.detailModal :global(.ant-modal-body) {
  padding: 0 32px 32px;
}
.detailModal :global(.info) {
  font-size: 14px;
  color: rgba(29, 29, 29, 0.5);
  margin-bottom: 64px;
}
.detailModal :global(.preview) {
  width: 100%;
  height: auto;
}
.detailModalType {
  margin-left: 16px;
  vertical-align: bottom;
}

.combineBox {
  text-align: center;
  letter-spacing: 1px;
}
.combine {
  position: relative;
  display: inline-block;
}
.combineBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

@media screen and (max-width: 576px) {
  .worksList {
    padding: 0 16px;
  }
  :global(.ant-dropdown-trigger) {
    display: inline-block;
    color: #1d1d1d;
  }
  .menuHideXs {
    display: none;
  }
  .classifiesList {
    margin-left: 32px;
  }
  .classifiesList li + li {
    margin-left: 32px;
  }
  .worksItem {
    margin-bottom: 24px;
  }
}
