.title {
  font-size: 40px;
  color: #1d1d1d;
  text-align: center;
  font-weight: normal;
}
.marginTopAndBottom {
  margin: 30px 0 22px;
}
.info {
  font-size: 16px;
  color: rgba(29, 29, 29, 0.7);
  text-align: center;
}
.marginBottom64 {
  margin-bottom: 64px;
}
.combineBox {
  text-align: center;
}
.combine {
  position: relative;
  display: inline-block;
}
.combineBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.leftBlackBg {
  position: fixed;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  background-color: #000;
}
.rightBlackBg {
  position: fixed;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
}
.line1 {
  position: fixed;
  width: 1px;
  display: inline-block;
  background-color: rgba(133, 133, 133, 0.5);
  top: 54%;
  bottom: 0;
  left: 50%;
}
.line2 {
  position: fixed;
  width: 1px;
  display: inline-block;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
}
.fixedLogo {
  position: fixed;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}
